@media screen and (min-width: 400px) {
	body {
		background-color: lightgreen;
	}
	nav a {
		float: none;
		color: red;
		display: block;
		padding: 0em;
	}
	p {
		font-size: 1em;
		font-family: Times;
		color: olive;
	}
	li {
		font-size: 1em;
		list-style-type: none;
	}
	h2, h3, h4 {
		font-size: 1.5e,;
		text-decoration: underline;
	}
}
@media screen and (min-width: 1200px) {
	body {
		background-color: PapayaWhip;
		font-family: Sofia, Verdana, sans-serif;
		color: black;
	}
	nav {
	   border-width: 1em 0;
       list-style: none;
       margin: 0;
       padding: 0;
       text-align: center;
       color: green;
       font-family: "Times New Roman", Times, serif;
	   font-weight: normal;
	   overflow: hidden;
	}
	nav ul {
		text-align: center;
	}
	nav li {
		display:inline;
	}
	nav a {
		display:inline-block;
		padding:1.5em;'
		font-size: 1.2em;
		font-family: "Times New Roman", Times, serif;
		color: blue;
	}
	li {
	    font-size: 1.3em;
		margin-left: 1em;
		list-style-type: disc;
		font-family: Sofia, Verdana, sans-serif;
	}
	p {
	   padding: .5em;
	   font-size: 1.5em;
	   font-family: Sofia, Verdana, sans-serif;
	   color: black;
	}
	
}   
